/* Styles for the chat icon */
.chat-icon {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  cursor: pointer !important;
  z-index: 9999 !important;
  padding-top: 2px !important;
}

.chat-close-icon{
  position: absolute !important;
  bottom: 0 !important;
  margin-left: calc(100% - 40px) !important;
  width: 0px !important;
  height: 0px !important;
}
.chat-close-icon img{
  width: 0px !important;
  height: 0px !important;
}

/* Styles for the chat iframe */
.chat-iframe {
  position: fixed !important;
  bottom: 90px !important;
  right: 40px !important;
  width: 320px !important;
  height: 580px !important;
  border-style: solid !important;
  border-color: #00000030 !important;
  border-width: 1px !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  z-index: 9998 !important;
}

.iframe-container {
    position: relative !important;
    width: 100% !important;
    height: 500px !important;
  }

@media (max-width: 767px) {
/* apply these styles for mobile devices with screen width up to 767 pixels */
  .chat-iframe {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    width: calc(100% - 5px) !important;
    height: calc(100% - 5px) !important;
    border-style: none !important;
    border-roundness: 0 !important;
    z-index: 10000 !important;
  }
  .chat-close-icon{
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
    margin-left: calc(100% - 40px) !important;
    top: 20px !important;
    z-index: 10001 !important;
  }
  .chat-close-icon img{
    width: 15px !important;
    height: 15px !important;
  }
}
